/* Main */

/* DESIGN NOTE: 400PX MIGHT BE GOOD BREAKPOINT */

html {

}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  line-height: 1.5;
}

h1 {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: auto 0;
}

h2 span {
  color: lightgray;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: blue;
}

button {
  margin: 1.5rem 1rem 2rem;
  width: 90%;
  height: 3rem;
  background-color: gray;
}

button h3 {
  color: white;
  padding: auto;
  font-weight: bold;
  margin-top: 0;
}

img {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* General classes */
.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Multi use */
h1, h3, h4, button, p, span, a {
  /* Disabling for now
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.5em;
  */
}

/* Header */


/* Nav Bars */
@media screen and (max-width: 600px) {
.dnav, .company {
  display: none;
}

header {
  width: 100%;
  height: 4rem;
  position: fixed;
  background-color: white;
}

.mnav {
  display: flex;
  padding-top: 1rem;
}

.mnav ul {
  list-style: none;
  text-align: center;
  width: 100%;
}

.mnav img {
  height: 2.2rem;
}

.mnav li {
  display: inline-flex;
  padding: 0 .75rem;
}
}

@media screen and (min-width: 600px) {
  .mnav {
    display: none;
  }

  header {
    width: 100%;
    height: 3rem;
    position: fixed;
    background-color: white;
    align-content: center;
  }

  .company {
    display: inline-flex;
    float: left;
    margin: .5rem 0;
  }

  .logo {
    margin-right: 0;
  }

  .dnav {
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    float: right;
    margin: .8rem 0;
  }

  .dnav li {
    margin-right: 1rem;
  }
}

/* Banner */
@media screen and (max-width: 600px) {
.banner {
  background-color: lightgray;
  padding-top: 4rem;
}

.banner img {
  height: 180px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.banner h1, .banner h3 {
  margin-left: 1rem;
}
}

@media screen and (min-width: 600px) {
  .banner {
    background-color: lightgray;
    padding-top: 3rem;
    display: inline-flex;
    justify-content: center;
  }

  .banner img {
    height: 90%;
    width: 60%;
    margin: 2.5rem 2.5rem 2.5rem 1.5rem;
  }

  .btext {
    height: 90%;
    width: 30%;
    font-size: 1rem;
    flex-shrink: 1;
  }
}


/* Information */
.information img {
  height: 200px;
  width: 90%;
  margin: auto;
  display: block;
}

/* Content */
/* TURNED OFF FOR MOBILE BUILD */
.content1 {
  display: none;
}

.content2 {
  margin-top: 2rem;
}

.posts h3, .posts h4, .posts a {
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 2rem;
}

.posts h4 {
  font-weight: normal;
}

/* Course */
.course {
  margin-top: 2rem;
  border-top: solid 1px lightgray;
  width: 100%;
}

.course h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* TURNED OFF FOR MOBILE BUILD */
.course img, .course h5, .course p {
  display: none;
}

.courses h3 {
  background-color: lightgray;
  text-align: left;
  padding: 1.5rem 0 1.5rem 1rem;
  margin-top: .5rem;
}

/* Thesis */
/* TURNED OFF FOR MOBILE BUILD */
.thesis-content1, .thesis-content2 {
  display: none;
}

.thesis {
  margin-top: 2rem;

  border-top: solid 1px lightgray;
  width: 100%;
}

.thesis h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.vid {
  height: 240px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
/* Footer */
/*TURNED OFF FOR MOBILE BUILD */
footer nav {
  display: none;
}

footer {
  margin-top: 1.5rem;
  display: flex;
}

footer span {
  margin: 1rem 0 1.5rem 0;
  text-align: left;
  align-content: center;
}
