/* Main */

/* DESIGN NOTE: 420PX and 600PX are BREAKPOINT */

html {

}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  line-height: 1.5;
}

h1 {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: auto 0;
}

h2 span {
  color: lightgray;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: gray;
}

a:active {
  color: darkgrey;
}

button {
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
  background-color: gray;
}

button h3 {
  color: white;
  padding: auto;
  font-weight: bold;
  margin-top: 0;
}

img {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* General classes */
.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Multi use */
h1, h3, h4, button, p, span, a {
  /* Disabling for now
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.5em;
  */
}

/* Header */


/* Nav Bars */
@media screen and (max-width: 600px) {
  .dnav, .company {
    display: none;
  }

  header {
    width: 100%;
    height: 4rem;
    position: fixed;
    background-color: white;
  }

  .mnav {
    display: flex;
    padding-top: 1rem;
  }

  .mnav ul {
    list-style: none;
    text-align: center;
    width: 100%;
  }

  .mnav img {
    height: 2.2rem;
  }

  .mnav li {
    display: inline-flex;
    padding: 0 .75rem;
  }
}

@media screen and (min-width: 600px) {
  .mnav {
    display: none;
  }

  header {
    width: 100%;
    height: 3rem;
    position: fixed;
    background-color: white;
    align-content: center;
  }

  .company {
    display: inline-flex;
    float: left;
    margin: .5rem 0;
  }

  .logo {
    margin-right: 0;
  }

  .dnav {
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    float: right;
    margin: .8rem 0;
  }

  .dnav li {
    margin-right: 1rem;
  }
}

/* Banner */
@media screen and (max-width: 600px) {
  .banner {
    background-color: lightgray;
    padding-top: 4rem;
  }

  .banner img {
    height: 180px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .banner h1, .banner h3 {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .banner {
    background-color: lightgray;
    padding-top: 3rem;
    display: flex;
  }

  .banner img {
    height: 520px;
    width: 60%;
    margin: 2.5rem 2.5rem 2.5rem 1.5rem;
  }

  .btext {
    height: 90%;
    width: 30%;
    font-size: 1rem;
    margin: auto;
  }
}


/* Information */
@media screen and (max-width: 600px) {
  .information img {
    height: 200px;
    width: 90%;
    margin: auto;
    display: block;
  }
  /* Content */
  .content1 {
    display: none;
  }

  .content2 {
    margin-top: 2rem;
  }

  .posts h3, .posts h4, .posts a {
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 2rem;
  }

  .posts h4 {
    font-weight: normal;
  }
}

@media screen and (min-width: 600px) {
  .information {
    display: inline-flex;
  }

  .information img {
    height: 90%;
    width: 100%;
    display: inline-flex;
    margin: auto;
  }
  /* Content */
  .content1 {
    height: 100%;
    width: 60%;
    margin: 2rem 1.5rem 0 1.5rem;
    text-align: left;
  }

  .content1 p {
    margin-top: 1.5rem;
  }

  .content1 h6 {
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 3rem;
  }

  .content2 {
    height: 100%;
    width: 35%;
    margin-top: 2rem;
    display: inline-block;
    border-left: solid 1px lightgray;
  }

/* Posts */
  .posts {
    display: inline-flex;
    border-top: solid .5px lightgray;
    border-bottom: solid .5px lightgray;
    border-right: solid .5px lightgray;
    width: 100%;
    height: auto;
  }

  .posts:hover {
    background-color: lightgray;
  }

  .posts img {
    height: 100%;
    width: 35%;
    margin: 1rem;
  }

  .posts h3 {
    font-weight: 800;
    margin-top: .5rem;
  }

  .post-text {
    display: inline
    height: 100%
    width: 60%;
  }
}


/* Course */
@media screen and (max-width: 600px) {
  .course {
    margin-top: 2rem;
    border-top: solid 1px lightgray;
    width: 100%;
  }

  .course h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* TURNED OFF FOR MOBILE BUILD */
  .course img, .course h5, .course p {
    display: none;
  }

  .courses h3 {
    background-color: lightgray;
    text-align: left;
    padding: 1.5rem 0 1.5rem 1rem;
    margin-top: .5rem;
  }
}

@media screen and (min-width: 600px) {
  .course {
    margin: 1rem .5rem;
    width: 100%;
    background-color: lightgray;
    text-align: center;
    padding-bottom: 2rem;
  }

  .course h1 {
    text-align: center;
    padding: 2rem 0;
  }

  .courses {
    background-color: white;
    height: 360px;
    width: 30%;
    display: inline-table;
    margin: .75rem;
  }

  .courses img {
    margin: 0;
    height: auto;
    width: 100%;
  }

  .course-text {
    text-align: left;
    margin-top: 1rem;
    width: 85%
  }

  .course-text h5, .course-text p {
    padding-left: .5rem;
    margin-top: .5rem;
  }

  .course-text h3 {
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: .5rem;
    margin-top: 0;
  }

  .course-text p {
    padding-bottom: 0;
  }
}

/* Thesis */
@media screen and (max-width: 600px) {
  .thesis-content1, .thesis-content2 {
    display: none;
  }

  .thesis {
    margin-top: 2rem;

    border-top: solid 1px lightgray;
    width: 100%;
  }

  .thesis h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .vid {
    height: 240px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 600px) {
  .thesis .row {
    display: inline-flex;
  }

  .thesis h1:first-child {
    text-align: center;
  }

}
/* Footer */
@media screen and (max-width: 600px) {
  footer nav {
    display: none;
  }

  footer {
    margin-top: 1.5rem;
    display: flex;
  }

  footer span {
    margin: 1rem 0 1.5rem 0;
    text-align: left;
    align-content: center;
  }
}

@media screen and (min-width: 600px) {
  footer {
    margin-top: 1.5rem;
    width: 100%;
    height: 4rem;
    border-top: solid 1px lightgray;
  }

  footer .container {
    margin-top: 1rem;
  }

  footer span {
    text-align: left;
    align-content: center;
  }
  footer .dnav {
    margin-top: 0;
  }
}
